.headLine {
  font-size: 10vh;
  text-align: center;
}

.container {
  width: 60vh;
  height: 60vh;
  margin: auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-shadow: 1px 3px 4px 4px rgba(0,0,0,0.4), 3px 4px 7px 7px rgba(0,0,0,0.6);
}


.game__cell {
  background: lightgray;
  width: 20vh;
  height: 16vh;
  border: 1px solid black;
  font-size: 10vh;
  padding-top: 4vh;
  cursor: pointer;
}

.button__restart {
  background-color: silver;
  border: 0;
  border-radius: 1vh;
  display: block;
  margin: auto;
  margin-top: 4vh;
  padding: 2vh 5vh 2vh 5vh;
  font-size: 3vh;
  cursor: pointer;
  box-shadow: 1px 2px 3px 3px rgba(0,0,0,0.4);
}

.hide {
  display: none;
}

.moved {
  position: absolute;
  color: yellow;
  margin-top: 18vh;
  margin-left: 18vw;
  font-size: 10vw;
  animation-name: moveFil;
  animation-duration: 2.5s;
}

@keyframes moveFil {
  0% {
    color: blue;
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 0vw;
  }
  50% {
    color: green;
    margin-top: 14vh;
    margin-left: 14vw;
    font-size: 12vw;
  }
  100% {
    color: yellow;
    margin-top: 18vh;
    margin-left: 18vw;
    font-size: 10vw;
  }
}

